<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Greene">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Reports</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #4F6F52;
        }

        p {
            width: 100%;
            height: 100%;
            padding: 20px; /* Adjust padding as needed */
            margin: 10px;
            margin-bottom: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin-reports">Admin Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<form action="redirect:/admin-reports" style="text-align: center;">
    <button class="btn bg-warning" type="submit">Refresh Records</button>
</form>

<div class="row">
    <div class="container col-md-6">
        <div class="row bg-white justify-content-center align-content-center">
            <div th:if="${userError}">
                <p th:text="${userError}" style="color: red;"></p>
            </div>
            <p>You have <span th:text="${userCount}"></span> different records for users!</p>
            <form action="/deleteAllUsers" method="post">
                <button class="btn bg-warning" type="submit">DELETE ALL USER RECORDS</button>
            </form>
        </div>
    </div>

    <div class="fluid-container col-md-6">
        <div class="row bg-white justify-content-center align-content-center border-left">
            <div class="m-6 p-6" th:if="${parkError}">
                <p th:text="${parkError}" style="color: red;"></p>
            </div>
            <p>You have <span th:text="${parkCount}"></span> different records for parks!</p>
            <form action="/deleteAllParks" method="post">
                <button class="btn bg-warning" type="submit">DELETE ALL PARK RECORDS</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>