<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Hikes</title>
    <style>
        .hike-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container text-center p-5 m-2 mx-auto">
    <div class="row p-1 m-2 mx-auto">
        <div class="col text-center">
            <h2>Group Hikes</h2>
            <table>
                <tr th:each="hike : ${hikeList}">
                    <div class="hike-box">
                        <p style="display: inline">Name:
                            <td th:text="${hike.usersFullName}"/>
                            |
                        </p>
                        <p style="display: inline">Trail Name:
                            <td th:text="${hike.trailName}"/>
                            |
                        </p>
                        <p style="display: inline"> County:
                            <td th:text="${hike.county}"/>
                            |
                        </p>
                        <p style="display: inline"> Start Hike Time:
                            <td th:text="${hike.hikeTime}"/>
                            |
                        </p>
                        <p style="display: inline">Number of hikers:
                            <td th:text="${hike.description}"/>
                        </p>
                    </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>