<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Greene & Andrew Nice">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trail Edit</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #4F6F52;
        }
    </style>
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/opLogin">Operator Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container-fluid text-center p-5 m-2 mx-auto">
        <div class="row p-1 m-2 mx-auto">
            <div class="col text-center">
                <h1>Edit a park below : </h1>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <form th:action="@{/park/update/{id}(id=${park.id})}" method="post" th:object="${park}">
                                <div class="mb-3">
                                    <label for="name"></label>
                                    <input class="bg-primary text-light" type="text" th:field="*{name}" id="name"
                                           placeholder="Park Name"/><br/>
                                </div>
                                <div class="mb-3">
                                    <label for="description"></label>
                                    <input class="bg-primary text-light" type="text" th:field="*{description}"
                                           id="description" placeholder="Park Desription"/><br/>
                                </div>
                                <div class="mb-3">
                                    <label for="address"></label>
                                    <input class="bg-primary text-light" type="password" th:field="*{address}"
                                           id="address" placeholder="Park Address"/><br/>
                                </div>
                                <div class="mb-3">
                                    <label for="County"></label>
                                    <input class="bg-primary text-light" type="text" th:field="*{firstName}"
                                           id="firstname" placeholder="First Name"/><br/>
                                </div>
                                <div class="mb-3">
                                    <label for="lastname"></label>
                                    <input class="bg-primary text-light" type="text" th:field="*{lastName}"
                                           id="lastname" placeholder="Last Name"/><br/>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>