<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Greene">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardinal : Index</title>

    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>

<body id="home">
<div class="welcome-container">
    <p id="main-header">Cardinal</p>
    <p>We'll help you find your wilderness.</p>
    <div class="cont">
        <a href="/login">
            <p>Continue to Log In Page</p>
        </a>
        <br>
        <a href="/admin">
            <p>Continue to Admin Dashboard</p>
        </a>
        <br>
        <a href="/login">
            <p>Continue to Park Operator Dashboard</p>
        </a>
    </div>
</div>
</body>

</html>